.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 0 auto;
}

h1 {
  padding: 2rem 0rem;
  /* text-align: center; */
}

h2 {
  padding: 1rem 0rem;
  text-align: center;
}

form {
  margin: 1rem 0 2rem 0;
}

.weather-content {
  width: 30%;
  margin: 0 auto;
}

p {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
